{% extends 'layout.html' %}

{% block body %}
    <img class="image" src="{{url_for('static', filename=context.img_name)}}" />

    {% if context.error %}
        <p class="error"><strong>Error:</strong> {{ context.error }}
    {% endif %}
    
    {% if context.op_mode %}
        <h1>Choose Operation:</h1>
        <div class="operations">
            <form method="post" action="/">
                <input class="button" type="submit" value="Remove Background" name="button1"/>
                <input class="button" type="submit" value="Resize" name="button2" />
            </form>
        </div>
    {% else %}
        <h1>Upload Your Image</h1>
        <form method=post enctype=multipart/form-data>
            <input class="form" type=file name=file>
            <br>
            <input class="button" type=submit value=Upload>
        </form>
    {% endif %}
{% endblock body %}