{% extends 'layout.html' %}

{% block body %}

    {% if context.error %}
        <p class="error"><strong>Error:</strong> {{ context.error }}
    {% endif %}
    <div class="operations">
        <form method="post" action="/resize">
            <p class="resize-label"><strong>Scale factor:</strong>
                <input class="factor-input" type="text" value=2 name="textbox" />
            </p>
            <p class="resize-label"><strong>Method: </strong>
                <select class="select" name="methods">
                    <option value="nearest">nearest</option>
                    <option value="bilinear">bilinear</option>
                    <option value="bicubic">bicubic</option>
                    <option value="lanczos">lanczos</option>
                </select>
            </p>
              <input id="resize-button" class="button" type="submit" value="Resize" name="button1" />
        </form>
    </div>
{% endblock body %}